header {
	background-image: url("../img/fondo.jpg");
	background-size: 200%;
	h1 {
		font-family: "Poiret One";
		color: white;
		text-align: center;
		border: 5px solid white;
		width: 30%;
		margin: auto;
		margin-top: 5%;
		padding: 2%;
	}
	.title {
		h3 {
			font-family: "Poiret One";
			color: white;
			text-align: center;
			font-weight: 700;
			border-bottom: 2px dashed white;
			width: 25%;
			margin: auto;
			margin-top: 7%;	
			margin-bottom: 3%;
		}
	}
	button.btn.btn-info.btn-lg {
		color: white;
		font-family: "Poiret One";
		margin: 33.8% -50px;
	     background-color: cadetblue;
	     border-color: cadetblue;
	     font-size: 2em;	
	}
}